.cta{
      height: 3rem;
}
.load{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #f1f2f4;
      color: $green;
      margin-top: 5rem;
}