@font-face{
      src: url(../font/Gilroy-Bold.otf);
      font-family: gili;
}
@font-face{
      src: url(../font/Gilroy-Light.otf);
      font-family: gili-l;
}
@font-face{
      src: url(../font/Gilroy-Medium.otf);
      font-family: gili-m;
}
@font-face{
      src: url(../font/Gilroy-SemiBold.otf);
      font-family: gili-sm;
}


